.task {
  display: inline-block;
  border-radius: 8px;
  background: #947ea8;
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  margin-bottom: 15px;
}

.task:hover {
  background-color: #701cb4;
}


.home-page {
  max-width: 1440px;
  padding-left: 20px;
}

.gallery-page {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform .3s;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.07);
}

.gallery-image {
  max-width: 100%;
  display: block;
  height: auto;
}

.form-page {
  font-family: Montserrat;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 8px;
  outline: transparent;
}

.feedback-form input:focus {
  border-color: #000000;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: transparent;
  margin-bottom: 16px;

  resize: none;
}

.feedback-form textarea:focus {
  border-color: #000000;
}

.feedback-form button {
  display: inline-block;
  width: 95px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #947ea8;
  color: #FFF;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #701cb4;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}